{% assign categories = include.category %}

{% if categories %}
  {% if categories.first %}
    <p>
    Categorias: [
      {% for postCategory in categories %}
        {% assign archive = site.data.categories[postCategory].archive | prepend: site.baseurl %}
        <span>:<a href={{archive}}>{{postCategory}}</a>:</span>
      {% endfor %}
    ]
    </p>

  {% else %}
    {% assign postCategory = categories %}
    {% assign archive = site.data.categories[postCategory].archive | prepend: site.baseurl %}
    <p> Categoria: <span>:<a href={{archive}}>{{postCategory}}</a>:</span></p>
  {% endif %}
{% endif %}
